<?xml version="1.0" encoding="UTF-8"?>
<server description="LangChain4J Workshop Server">

    <!-- Enable features -->
    <!-- -8<- [start:features]       -->
    <featureManager>
        <platform>jakartaee-10.0</platform>
        <platform>microprofile-7.1</platform>
        <feature>cdi</feature>
        <feature>websocket</feature>
        <feature>restfulWS</feature>
        <feature>mpConfig</feature>
    </featureManager>
    <!-- -8<- [end:features]       -->

    <!-- HTTP endpoint configuration -->
    <httpEndpoint
        id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="9443"
        host="*"
    />

    <!-- Application configuration -->
    <webApplication
        id="langchain4j-workshop"
        location="langchain4j-workshop.war"
        contextRoot="/">
        <classloader apiTypeVisibility="+third-party" />
    </webApplication>

    <httpSession/>

    <!-- Logging configuration -->
    <logging
        traceSpecification="*=info:dev.langchain4j.*=all"
        maxFileSize="20"
        maxFiles="10"
        consoleLogLevel="INFO"
    />
</server>
