<?xml version="1.0" encoding="UTF-8"?>
<server description="LangChain4J Workshop Server">

    <!-- Enable features -->
    <featureManager>
    	<platform>jakartaee-10.0</platform>
        <platform>microprofile-7.1</platform>
        <feature>cdi</feature>
        <feature>concurrent</feature>
        <feature>jsonb</feature>
        <feature>jsonp</feature>
        <feature>persistence</feature>
        <feature>restfulWS</feature>
        <feature>websocket</feature>
        <feature>mpConfig</feature>
        <feature>mpFaultTolerance</feature>
        <feature>mpRestClient</feature>
        <feature>mpTelemetry</feature>
    </featureManager>

    <!-- HTTP endpoint configuration -->
    <httpEndpoint
        id="defaultHttpEndpoint"
        httpPort="9080"
        httpsPort="9443"
        host="*"
    />

    <!-- Application configuration -->
    <applicationManager autoExpand="true"/>
    <webApplication
        id="langchain4j-workshop"
        location="langchain4j-workshop.war"
        contextRoot="/">
    </webApplication>

    <!-- Logging configuration -->
    <logging
        traceSpecification="*=info:dev.langchain4j.*=all"
        maxFileSize="20"
        maxFiles="10"
        consoleLogLevel="INFO"
    />

    <!-- Basic user registry -->
    <basicRegistry id="basic" realm="BasicRealm">
        <user name="admin" password="admin" />
        <user name="user" password="user" />
    </basicRegistry>

    <library id="postgresql-library">
        <fileset dir="${shared.resource.dir}" includes="*.jar" />
    </library>

    <dataSource id="default" jndiName="jdbc/postgresql">
        <jdbcDriver libraryRef="postgresql-library" />
        <properties.postgresql
            serverName="localhost"
            portNumber="5432"
            databaseName="postgres"
            user="postgres"
            password="password"
        />
    </dataSource>

    <mpTelemetry source="message, trace, ffdc"/>
</server>
